{% if page and page.meta and page.meta.redirect_to %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <link rel="canonical" href="{{ page.meta.redirect_to }}">
    <script>var anchor=window.location.hash.substr(1);location.href="{{ page.meta.redirect_to }}"+(anchor?"#"+anchor:"")</script>
    <meta http-equiv="refresh" content="0; url={{ page.meta.redirect_to }}">
</head>
<body>
You're being redirected to <a href="{{ page.meta.redirect_to }}">{{ page.meta.redirect_to }}</a>.
</body>
</html>
{% else %}
{% extends "base.html" %}

{% block extrahead %}
    {{ super() }}
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="{{ config.site_name }}" />
    <link rel="manifest" href="/icons/site.webmanifest" />
{% endblock %}
{% endif %}
